[Unit]
Description=ScreenpadLinux

[Service]
Type=oneshot
ExecStart=/home/youruser/.screenpad/ScreenpadLinux/startup_screenpad_service.sh
RemainAfterExit=true
ExecStop=/home/youruser/.screenpad/ScreenpadLinux/disable_screenpad.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
